*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.player-input{
    border:3px solid blue;
}

input:focus{
    outline:none;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: fit-content;
    width: fit-content;
    margin: 5rem 0 0 0;

}

.game-cell {
    border: 1px solid black;
    height: 150px;
    width: 150px;
    border-collapse: collapse;
}

.game-cell:hover {
    cursor: pointer;
}

.game-info {
    display: block;
    margin: 1rem auto;
    height:25px;
    text-align: center; 
    
}
.score-board{
    background-color: blue;
    display:flex;
    justify-content: space-around;
    align-items:center;
}


.play-btn:hover {
    cursor: pointer;
}

.play-btn {
    display: block;
    /* margin: 0 auto; */
    background-color: pink;
    height: 80px;
    width: 80px;
}