*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin: 1rem 0;
}

.game-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:35px;
}

.player-input {
    border: 3px solid blue;
    width:150px;
}

input:focus {
    outline: none;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: fit-content;
    width: fit-content;

}

.game-cell {
    border: 1px solid black;
    height: 150px;
    width: 150px;
    border-collapse: collapse;
}

.game-cell:hover {
    cursor: pointer;
}
.player-display{
    width:150px;
    text-align:center;
   
}

.game-info {
    display: block;
    margin: 1rem auto;
    height: 25px;
    text-align: center;

}

.score-board {
    /* background-color: blue; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.play-btn:hover {
    cursor: pointer;
}

.play-btn {
    display: block;
    /* margin: 0 auto; */
    background-color: pink;
    height: 80px;
    width: 80px;
}