*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --slate-50: #F8FAFC;
    --slate-100: #F1F5F9;
    --slate-200: #E2E8F0;
    --slate-300: #CBD5E1;
    --slate-400: #94A3B8;
    --slate-500: #64748B;
    --slate-600: #475569;
    --slate-700: #334155;
    --slate-800: #1E293B;
    --slate-900: #0F172A;
    --slate-950: #020617;
    --ff-lofi: 'lofi', arial, helvetica, sans-serif;


}

body {
    background-color: var(--slate-100);
    font-family: var(--ff-lofi);
}

h1 {
    text-align: center;
    margin: 1rem 0;

    font-size: 4rem;
    color: var(--slate-900);
}

.game-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.player-input {

    border-radius: 5px;
    width: 150px;
    height: 50px;
    font-size: 1.4rem;
    padding: 5px 5px;
    font-family: var(--ff-lofi);
    text-align: center;
    border: none;
    box-shadow: 2px 2px var(--slate-600);
    border: 1px solid var(--slate-600);
    transition: transform 0.2s ease-in-out;

}

input:focus {
    outline: none;
    transform: scale(1.1);

}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: fit-content;
    width: fit-content;
    background-color: var(--slate-200);

}

.game-cell {
    border: 1px solid var(--slate-700);
    height: 150px;
    width: 150px;
    border-collapse: collapse;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;

}

.game-cell:hover {
    cursor: pointer;
    background-color: var(--slate-400)
}

.disabled {
    pointer-events: none;
}

.winning-cell {
    background-color: var(--slate-500);
    transition: background-color 0.5s linear, font-size 0.5s linear;
    font-size: 4.5rem;
    text-shadow: 2px 2px 2px var(--slate-800)
}

.player-display {
    width: 150px;
    text-align: center;
    font-size: 1.4rem;
    transition: font-size 0.8s ease-in-out, font-weight 0.8s ease-in-out;

}

.player-display.active {
    font-size: 2rem;
    font-weight: 900;

}

.game-info {
    display: block;
    margin: 1rem auto;
    height: 25px;
    text-align: center;
    font-size: 2.2rem;

}

.score-board {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'absolute neon', Arial, Helvetica, sans-serif;
    font-size: 3.5rem;
    font-weight: 800;
}




.play-btn {
    display: block;
    background-color: var(--slate-600);
    border: none;
    border-radius: 4px;
    font-family: 'lofi', Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 0.6em 1em;
    margin-top: 1rem;
    color: var(--slate-200);
    transition: transform 0.2s linear;
}

.play-btn:hover {
    cursor: pointer;
    background-color: #334155;
    transform: scale(1.1);
}

@media screen and (max-width:850px) {
    .game-cell {
        width: 100px;
        height: 100px;
    }

    .player-input {
        width: 120px;
        height: 35px;
        font-size: 1.4rem;
    }

    .player-display {
        width: 120px;
        font-size: 1.4rem;

    }

    .player-display.active {
        font-size: 1.6rem;
    }


}

@media screen and (max-width:650px) {
    .game-cell {
        width: 70px;
        height: 70px;
    }

    .player-input {
        width: 100px;
        height: 35px;

        font-size: 1.1rem;
        transform: translateY(150px);
    }

    input:focus {
        outline: none;
        transform: translateY(150px) scale(1.05);

    }

    .player-display {
        width: 120px;

        font-size: 1.1rem;
        transform: translateY(150px);

    }

    .player-display.active {
        font-size: 1.4rem;
        transform: translateY(150px);
    }


}

@media screen and (max-width:550px) {

    h1 {
        font-size: 2.5rem;
    }


}


@font-face {
    font-family: 'lofi';
    src: url(fonts/Lofi\ Lifestyle\ Demo.ttf);
}

@font-face {
    font-family: 'absolute neon';
    src: url(fonts/AbsoluteNeonScript.ttf);
}